# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = tongfangpachong.settings

[deploy:hotsearch]
url = http://localhost:6800/
project = tongfangpachong
username = wangliuqi
password = 123456
